<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Code Execution - Result</title>
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      textarea {
        width: 100%;
        height: 200px;
      }
    </style>
  </head>
  <body>
    <h1>Results</h1>
    <h2>Original name:</h2>
    <textarea readonly><%= @original_name %></textarea>

    <h2>Capitalized name:</h2>
    <textarea readonly><%= @capitalized_name %></textarea>

    <h2>Capitalized and trimmed name:</h2>
    <textarea readonly><%= @capitalized_trimmed_name %></textarea>
  </body>
</html>
